<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script>
  marked.setOptions({
    sanitize: true
  });

  // preview markdown for 'read note page'
  var content = $('#content').text();
  $('#content').html(marked(content));

  // automatic markdown preview
  var content = $('#markdown').text();
  $('#preview').html(marked(content));
  $('#markdown').keyup(function() {
    var val = $(this).val();
    $('#preview').html(marked(val));
  });

  $('pre').addClass('prettyprint');
</script>
